
# Python
__pycache__/
_draft/
_material/
draft/
.jekyll-cache/
code/

hw/hw*
!hw/mujoco_template/
hw/mujoco_template/06*
hw/mujoco_template/07*
hw/mujoco_template/08*
hw/mujoco_template/09*
# hw/final/*
hw/mujoco_template/logs/

TODO