---
permalink: /course/
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="en"><head>
<meta charset="utf-8">
<title>{{ course.title }}</title>
<link rel="canonical" href="{{ '/' | url }}">
<meta http-equiv="refresh" content="0; url={{ '/' | url }}">
</head><body>
<p><a href="{{ '/' | url }}">Continue to {{ course.title }}</a></p>
</body></html>
